name: Map Parser

on:
  repository_dispatch:
    types: [map_task]

jobs:
  build:
    runs-on: ubuntu-latest
    
    #設定環境變數 (對應您的 GitHub Secrets)
    env:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      # 左邊是 Python 要讀的名字 (SUPABASE_KEY)
      # 右邊是您後台設定的名字 (SUPABASE_SERVICE_ROLE_KEY)
      SUPABASE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}

    steps:
      - uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install dependencies
        run: pip install requests supabase

      - name: Run parser
        # ★★★ 關鍵修改：只有當 raw_message 不為空時，才執行這一步 ★★★
        if: ${{ github.event.client_payload.raw_message != '' }}
        run: python ig_map/main.py "${{ github.event.client_payload.raw_message }}" "${{ github.event.client_payload.user_id }}"
